body{
	background-color:#fff;
	margin:auto;
	text-align: center;
}
html {overflow-x:hidden;}
a{text-decoration: none;}
.clear:after{
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}
.clear{
	zoom:1;
}
.wrap{
	width:1200px;
	margin:auto;
}
.musicCover{
	width:100%;
	height:1200px;
	margin:auto;
	background: url('../images/zhuanjiBg.png') center center no-repeat;
	background-size:cover;
	position: relative;
	top:0;
	overflow: hidden;
}
.musicContain{
	width:100%;
	height:1060px;
	border-radius: 6px;
	background-color: #fff;
	margin-top:138px;
	position: relative;
	bottom:60px;
}
.musicContain .img{
	position: absolute;
	top:-10px;
	left:80px;
}
.person{
	float:left;
}
.person{
	margin:70px 35px 0 25px;
}
.personPro{
	width:816px;
	height:247px;
	overflow: hidden;
	margin:70px 32px 0 0;
	margin-top:0\9;
	padding-top:74px\9;
	padding-top:74px;
}
.personPro p{
	text-align: left;
}
.personPro a{
	text-decoration: none;
	color:#333;
}
.biaoji{
	display: inline-block;
	*display: inline;
	*zoom:1;
	
	width:46px;
	height:24px;
	background-color: #ff5824;
	border-radius: 3px;
	color:#fff;
	font-size:16px;
	line-height: 24px;
	text-align: center;
	margin-right:15px;
}
.neirong{
	text-align: justify;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-height: 26px;
}
.geci{
	clear:left;
	margin:50px 0 0 25px;
	float:left;
	width:450px;
	height:320px;
	background: url("../images/geCiBg01.png") left top no-repeat;
	*background: url("../images/geCiBg01.png") repeat-y scroll 0 0;
	overflow-y:scroll;
}
#lrcContent{
    text-align: center;
    font-size: 16px;
    color: #333;
    line-height: 32px;
    overflow: hidden;
    margin-bottom: 15px;
}
.scrollbar{
	webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#llrcArea{
	width: 100%;
    height: 100%;
    overflow: hidden;
}   
#llrcId{
	position: relative;
}
.lists{
	float:left;
	width:670px;
	margin:50px 32px 50px 20px;
	position: relative;
}
.lists .playerMain{
	width: 100%;
	height:280px;
	transition:all 0.2s;
	position: relative;
	top:0;
	*left:0;
	/*box-shadow: 2px 2px 5px 5px #ccc;*/
	background-color: #fff;
	overflow-y:scroll;
}
.lists  .middle{
	position: absolute;
	top: 56px;
	*left:0;
	bottom: 80px;
	width: 100%;
}
.lists .mainWrap{
	position: relative;
	padding:0;
	height: 100%;
}
/*播发列表*/
.lists  .mainBody{height: 100%;}
/*专辑信息*/
.lists  .mainOuther{
	position: absolute;
	top: 0;
	right: 0;
	width: 250px;
	padding-right: 20px;
	height: 100%;
}
.albumCover{
	width: 250px;
	height: 185px;
	padding-top: 20px;
	text-align: center;
}
.albumSale{
	width: 250px;
	height: 42px;
	padding: 5px 0;
	text-align: center;
}
.asA{
	display: block;
	width: 130px;
	height: 40px;
	overflow: hidden;
	padding-left: 40px;
	border-radius: 4px;
	border:1px solid #e0e0e0;
	margin: 0 auto;
	background-color: #ff7b00;
}
.lists  .playHd{
	width:100%;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: -56px;
	*left:0;
	border-bottom: 1px solid #ccc;
	background: #ebebeb;
	font-size:14px;
	color:#333;
}
.lists .phInner{
	height: 100%;
	overflow: hidden;
	width:690px;
}
.lists .phInner .col{
	width: 31%;
	border-right:1px solid transparent;
}
 .lists .phInner .col:last-child{
	border-right:1px solid transparent;
}
.lists .col{
	width: 28%;
	height: 100%;
	float: left;
	line-height: 40px;
	text-align: center;
	color: #333;
	font-size: 16px;
}
.lists .playBd{
	width:658px;
	position: absolute;
	top: -15px;
	bottom: 60px;
	*left:0;
}
.lists .scrollView{
	height: 100%;
	width: 100%;
	position: relative;
	outline: 0;
	-webkit-user-drag:none;
}
.lists .songUL{
	width: 100%;
	height: 100%;
}
.striped{
	background-color: #f5f5f7;
}
.lists .songList{
	width: 100%;
	color: #333;
	/*border-bottom: 1px solid #dfdfdf;*/
	position: relative;
}
.lists .start,.lists  .xuHao{
	line-height: 41px; 
	text-align: center; 
	position: absolute;
	width: 36px;
	height: 41px;
	left: -94px;
	top: 0;
}
.lists .xuHao{left:16px;width:6%;}
.lists .start em,.lists  .xuHao em{
	font-style: normal;
	font-family: Arial;
	color: #aaa;
	font-size: 12px;
}
.lists .xuHao em{
	font-size:14px;
	color:#333;
}
.lists .songBd{
	height: 44px;
	line-height: 44px;
	padding: 0 17px 0 100px;
	/*width:94%;*/
	width:680px;
}
.lists .songBd .col{
	color: #333;
	line-height: 44px;
}
.lists .col{cursor: default;}
.lists .cicon{
	cursor: pointer; 
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top:11px;
}
.lists .love{
	right: 228px;
	*right:221px;
	*top:0;
}
.lists .love img{
	vertical-align: top;
}
.lists .track{
	height: 30px;
	width: 100%;
	line-height: 30px;
	position: relative;
	padding-left: 38px;
}
/*底部按键*/
.lists .bottom{
	width: 100%;
	height: 60px;
	background:url("../css/images/gradientBg.png") repeat;
	position: relative;
	top:-20px;
}
.lists .playerWrap{
	position: relative;
	height: 100%;
	padding-left: 186px;
	padding-right: 150px;
	*padding-left:0;
	*padding-right:330px;
}
.lists .playerCon{
	position: absolute;
	top: -8px;
	left: -30px;
	width:180px;
	height: 100%;
}
.lists .pbtn{
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
}
.lists .prevBtn{
	top: 25px;
	left: 38px;
	*left:34px;
	background: url("../css/images/prevBtn.png") no-repeat;
}
.lists .playBtn{
	top:20px;
	left: 86px;
	*left:76px;
	width:45px;
	height:45px;
	background: url("../css/images/pauseBtn.png") no-repeat;
}
.lists .nextBtn{
	background: url("../css/images/nextBtn.png") no-repeat;
	top:25px;
	left: 144px;
	*left:126px;
}
.lists .mode{
	display: block;
	width:20px;
	height: 18px;
	position: absolute;
	top: 31px;
	left: 140px;
	background:url("../css/images/xunhuan.png");
}
.lists .playInfo {
	height:100%;
	position:relative;
	top:-10px;
	left:-24px;
}
.lists .trackInfo {
	position:absolute;
	width:100%;
	height:18px;
	line-height:18px;
	top:20px;
	color:#fff;
}
.lists .trackInfo a {
	color:#333;
	font-size:14px;
	text-decoration:none;
}
.lists .trackCon {
	float:right;
	width:100px;
	height:18px;
}
.lists .songName2,.lists .songPlayer2{
	float:left;
}
.lists .playerLength {
	width:100%;
	height:20px;
	font-size:10px;
	position:absolute;
	top:43px;
}
.lists .position {
	width:40px;
	height:18px;
	line-height:18px;
	position:absolute;
	left:0;
	color:#333;
}
.lists .duration {
	width:40px;
	height:18px;
	line-height:18px;
	position:absolute;
	right:0;
	color:#333;
	text-align:right;
}
.lists .progress {
	position:absolute;
	left:40px;
	right:40px;
	height:18px;
}
.lists .pro1,.lists .pro2 {
	position:absolute;
	left:0;
	height:100%;
	width:100%;
	background:url("../css/images/pro.png") repeat-x 0 50%;
}
.lists .dian,.dian2 {
	display:block;
	width:10px;
	height:18px;
	position:absolute;
	top:4px;
	background:url("../css/images/dian.png") no-repeat;
}
.lists .dian2 {
	left:79px;
}
.lists .vol {
	position:absolute;
	top:-2px;
	right:0;
	width:170px;
	height:100%;
}
.lists .pinBtn {
	display:block;
	position:absolute;
	top:28px;
	right:146px;
	width:80px;
	height:32px;
	/*background:url("../css/images/T1ldFHFpxtXXaLghZR-80-832.png") no-repeat;*/
}
.lists .volm {
	position:absolute;
	width:110px;
	height:18px;
	top:31px;
	right:51px;
}
.lists .volSpeaker {
	position:absolute;
	*left:0;
	width:18px;
	height:18px;
	background:url("../css/images/laba.png") no-repeat;
}
.lists .volControl {
	position:absolute;
	left:24px;
	width:80px;
	height:18px;
	background:url("../css/images/pro.png") repeat-x 0 50%;
}
/*歌曲列表效果*/
.lists .start em{
	cursor: pointer;
	display: block;
	width: 18px;
	height: 18px;
	margin: 11px 9px;
	background: url("../css/images/play.png") 0 0;
	line-height: 18px;
	color:transparent;
}
/*结束*/
/*歌手的其他专辑*/
.other{
	height:300px;
	overflow: hidden;
	background-color: #fafafa;
	clear:left;
	padding-left:25px;
}
.other h3{
	font-size:20px;
	color:#333;
	text-align: left;
	padding-top:20px;
}
.otherCover{
    margin: 0 auto;
    width:100%;
    margin-top:20px;
}
.control2{
    display: block;
}
.roll-wrap{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.roll-wrap .roll__list{

}
.roll_row .roll__list::before, .roll_row .roll__list::after {
    content: "";
    display: table;
    line-height: 0;
}
.roll_row .roll__list::after {
    clear: both;
}
.roll_row .roll__list{
    width: 100%;
    margin-left:66px;
    height:200px;
    overflow: hidden;
}
.roll_row .roll__list li{
    float: left;
    display: block;
    margin-right: 26px;
    width: 180px;
    height: 1850px;
    line-height: 150px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #fff;
    position: relative;
}
.roll_row .roll__list li p{
	color:#333;
	font-size:14px;
	position: absolute;
	top:100px;
	*left:0;
	font-weight: normal;
}
.control2{
	display: inline-block;
	*display: inline;
	*zoom:1;
	width:32px;
	height:68px;
    position: absolute;
    top: 30px;
    padding: 10px 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.control2.pre{
    left: 5px;
}
.control2.next{
    right: 54px;
}
/*结束*/




























